<!doctype html>
{% load static %}
{% load i18n %}
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'dist/img/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'dist/css/cinema.css' %}">
    <title>{% trans 'Авторизація' %}</title>
    <script src="{% static 'plugins/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="{% url 'index' %}" class="h1"><b>Kino</b>CMS</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">{% trans 'Увійдіть що почати' %}</p>

      <form  method="post">
          {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" name="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">








          <!-- /.col -->
          <div class="col-4 w-100 text-center">
            <button type="submit" class="btn btn-primary btn-block">Увійти</button>
          </div>
          <!-- /.col -->
        </div>
      </form>









      <!-- /.social-auth-links -->


      <p class="mb-0">
        <a href="/uk/register/" class="text-center">Зареєструвати нового користувача</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{% static 'adminLte/plugins/jquery/jquery.min.js' %}'"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminLte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminLte/dist/js/adminlte.min.js' %}"></script>
</body>
</html>