{% extends 'cinema/base.html' %}
{% load static %}

{%block tittle%} Кінотеатри {% endblock tittle%}

{% block content %}
<div class="cinemas-photo">
             {%block image%}<img class="w-100" src="{% static 'dist/img/cinemas.jpg' %}" alt="">{%endblock image%}
         </div>

        <div class="text-center ">
            <h1 class="pt-2 pb-2 ">{%block tittlecontent%}Наші кінотеатри{%endblock tittlecontent%}</h1>
        </div>
        {%block context%}
        <div class="ourcinemas text-center">
            <div class="row">
                {% for cinema in cinema_list %}
                <div class="col-4">
                    <img class="cinema-img" src="{{ cinema.logo.url }}" alt="">
                    <a class="btn-cn d-block pt-3 pb-2" href="{% url 'cinemainfo' cinema_id=cinema.pk %}">{{ cinema.name_uk }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {%endblock context%}

{% endblock content%}