{% extends 'cinema/cinema.html' %}
{% load static %}

{% block tittle %} Контакти {% endblock tittle %}

{% block image %}
<img class="w-100" src="{% static 'dist/img/contactsimg.jpg' %}" alt="">
{% endblock image %}

{% block tittlecontent %} Контакти {% endblock tittlecontent%}

{% block context %}
<div class="vip-hall">
            <img class="w-100" src="../img/contactsimg.jpg" alt="">
            <h1 class="text-center p-2">Контакти</h1>
            <hr class="border border-1 border-dark">
        </div>
        <div class="content">
            <div class="row">
                <div class="col">
                    <div class="newcontact mt-3">
                        <div class="row">
                        <div class="col-6 d-flex">
                            <p>Kinoteatr 1</p>
                            <img class="logo-film" src="../img/logo-spider.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="logo-film" src="../img/logo-spider.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="logo-film" src="../img/logo-spider.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="logo-film" src="../img/logo-spider.jpg" alt="">
                        </div>
                        </div>
                    </div>
                    <div class="newcontact mt-3">
                        <div class="row">
                        <div class="col-6">
                            <p>Kinoteatr 1</p>
                            <img class="logo-film" src="../img/logo-spider.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="logo-film" src="../img/logo-spider.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="logo-film" src="../img/logo-spider.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="logo-film" src="../img/logo-spider.jpg" alt="">
                        </div>
                        </div>
                    </div>


                </div>
                <div class="col-2 col-hide">
                    <img class="w-100" src="../img/ad.png" alt="">
                </div>
            </div>
            <div>

            </div>

            <div class="text-center p-2">
                <h1>Фотогалерея</h1>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'dist/img/spider-man.jpg' %}" class="d-block w-100 carousel-banner" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'dist/img/tor.webp' %}" class="d-block w-100 carousel-banner" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'dist/img/badguys.jpg' %}" class="d-block w-100 carousel-banner" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        </div>
{% endblock context %}