{% extends 'cinema/base.html' %}
{% load static %}
{% load i18n %}

{% block tittle %} {% trans 'Акції' %} {% endblock tittle %}

{% block content %}
<div>
    <img class="w-100" src="{% static 'dist/img/discount-img.png' %}" alt="">
</div>



<hr class="border border-1 border-dark">

        <div class="discount text-center bg-light ">
            <div class="row">
                {% for discount in discount_list %}
                    {% if discount.status %}
                <div class="col-4 pt-2">
                    <img class="cinema-img rounded" src="{{ discount.logo.url }}" alt="">
                    <a class="btn-cn d-block pt-3 pb-2 fs-5" href="{% url 'discount_info' dis_id=discount.id %}">{{ discount.name_uk }}</a>
                    <div class="text-start p-1" style="margin-left: 10% !important;">
                    <p class="border border-2 rounded-pill border-dark bg-dark d-inline text-white-50 fw-bold p-1">{{ discount.date_premiere|date:'d.m.Y' }}</p>
                    </div>
                    <p class="p-1">{{ discount.description_uk }}</p>
                </div>
                    {% endif %}
                {% endfor %}


            </div>
        </div>
{% endblock %}