{% extends 'cinema/base.html' %}
{% load static %}

{% block content%}

        <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'dist/img/spider-man.jpg' %}" class="d-block w-100 carousel-banner" alt="...">
                </div>
                {% for banner in banner_list %}
                <div class="carousel-item">
                    <img src="{{ banner.image.url }}" class="d-block w-100 carousel-banner" alt="...">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="text-center">
            <h1 class=" text-h1">Дивіться сьогодні</h1>
        </div>

        <div class="watch-today">
        <div class="row text-center">
            {% for film in film_list %}
            <div class="col item-film">
                <img class="logo-film" src="{{ film.logo.url }}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="{% url 'film_detail' pk=film.id %}">{{ film.name_uk }}{{ film.name_eng }}</a>
                <a href="#" class="btn text-white bg-film">Buy ticket</a>
            </div>
            {% endfor %}
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <a href="#" class="btn text-white bg-film">Buy ticket</a>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <a href="#" class="btn text-white bg-film">Buy ticket</a>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <a href="#" class="btn text-white bg-film">Buy ticket</a>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <a href="#" class="btn text-white bg-film">Buy ticket</a>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <a href="#" class="btn text-white bg-film">Buy ticket</a>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <a href="#" class="btn text-white bg-film">Buy ticket</a>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <a href="#" class="btn text-white bg-film">Buy ticket</a>
            </div>
        </div>
        </div>

            <div class="text-center">
                 <hr class="border border-dark border-2 opacity-75 hr-radius mb-2">
                <h1 class="text-h1">Дивіться скоро</h1>
            </div>

            <div class="watch-today">
        <div class="row text-center">
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <p class="btn fw-semibold fst-italic text-success">З 2023 року</p>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <p class="btn fw-semibold fst-italic text-success">З 2023 року</p>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <p class="btn fw-semibold fst-italic text-success">З 2023 року</p>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="#">Spider</a>
                <p class="btn fw-semibold fst-italic text-success">З 2023 року</p>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <p class="btn fw-semibold fst-italic text-success">З 2023 року</p>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <p class="btn fw-semibold fst-italic text-success">З 2023 року</p>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <p class="btn fw-semibold fst-italic text-success">З 2023 року</p>
            </div>
            <div class="col item-film">
                <img class="logo-film" src="{% static 'dist/img/logo-spider.jpg' %}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="../js/spider.html">Spider</a>
                <p class="btn fw-semibold fst-italic text-success">З 2023 року</p>
            </div>
            </div>

            <div class="text-center">
                <hr class="border border-dark border-2 opacity-75 hr-radius mb-2">
                <h1 class="text-h1">Новини та акції</h1>
            </div>

            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'dist/img/spider-man.jpg' %}" class="d-block w-100 carousel-banner" alt="...">
                    </div>
                {% for news in news_banner %}
                <div class="carousel-item">
                    <img src="{{ news.image.url }}" class="d-block w-100 carousel-banner" alt="...">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>


        </div>

{% endblock content %}


