{% extends 'cinema/base.html' %}
{% load static %}

{% block content%}
    {% if speed.status %}
        <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for banner in banner_list %}
                    {% if banner == banner_list|first %}
                <div class="carousel-item active" data-bs-interval="{{ speed.speed_carousel }}">
                    <img src="{{ banner_list.first.image.url }}" class="d-block w-100 carousel-banner" alt="...">
                </div>
                    {% else %}
                <div class="carousel-item" data-bs-interval="{{ speed.speed_carousel }}">
                    <img src="{{ banner.image.url }}" class="d-block w-100 carousel-banner" alt="...">
                </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endif %}

        <div class="text-center">
            <h1 class=" text-h1">Дивіться сьогодні</h1>
        </div>

        <div class="watch-today">
        <div class="row text-center">
            {% for film in film_list %}
                {% if film.date_premiere|date:'d/m/Y' <= today|date:'d/m/Y' %}
            <div class="col item-film">
                <img class="logo-film" src="{{ film.logo.url }}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="{% url 'film_detail' pk=film.id %}">{{ film.name_uk }}{{ film.name_eng }}</a>
                <a href="#" class="btn text-white bg-film">Buy ticket</a>
            </div>
                {% endif %}
            {% endfor %}
        </div>
        </div>

            <div class="text-center">
                 <hr class="border border-dark border-2 opacity-75 hr-radius mb-2">
                <h1 class="text-h1">Дивіться скоро</h1>
            </div>

            <div class="watch-today">
        <div class="row text-center">
            {% for film in film_list %}
                {% if film.date_premiere|date:'d/m/Y' > today|date:'d/m/Y' %}
            <div class="col item-film">
                <img class="logo-film" src="{{ film.logo.url }}" alt="">
                <a class="btn-cn d-block pt-2 pb-2" href="{% url 'film_detail' pk=film.id %}">{{ film.name_uk }}</a>
                <p class="btn fw-semibold fst-italic text-success">{{ film.date_premiere|date:'d.m.Y' }}</p>
            </div>
                {% endif %}
            {% endfor %}

            <div class="text-center">
                <hr class="border border-dark border-2 opacity-75 hr-radius mb-2">
                <h1 class="text-h1">Новини та акції</h1>
            </div>
{% if speed2.status %}
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              {% for news in news_banner %}
                {% if news == news_banner|first %}
            <div class="carousel-item active" data-bs-interval="{{ speed2.speed_carousel }}">
              <img src="{{ news_banner.first.image.url }}" class="d-block w-100 carousel-banner " alt="...">
            </div>
                {% else %}
            <div class="carousel-item" data-bs-interval="{{ speed2.speed_carousel }}">
              <img src="{{ news.image.url }}" class="d-block w-100 carousel-banner" alt="...">
            </div>
              {% endif %}
          {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
{% endif %}


        </div>
            </div>
{% endblock content %}


