{% extends 'cinema/base.html' %}
{% load static %}
{% load i18n %}

{% block tittle %} {% trans 'Скоро' %} {% endblock tittle %}

{% block content %}
        <div class="row">
            <div class="col-2">
                <div class="container-fluid text-center">
                    <a href="{% url 'afisha' %}" class="btn text-white bg-film d-block mt-2 ">{% trans 'Афіша' %}</a>
                    <a href="{% url 'soon' %}" class="btn text-white bg-film d-block mt-1">{% trans 'Скоро' %}</a>
                </div>
                <div class="add">
                    <img class="img-fluid text-center mt-5" src="../img/add.png" alt="">
                </div>
            </div>
            <div class="col-10 ">
                <div class="row">
                    {% for film in film_list %}
                        {% if film.date_premiere|date:'d/m/Y' > today|date:'d/m/Y' %}
                        <div class="col-5 col-sm-4 col-lg-2 item-film text-center">
                            <p class="fw-bolder text-success">{{ film.date_premiere|date:'d.m.Y' }}</p>
                            <img height="180px" width="150px" class="logo-afisha" src="{{ film.logo.url }}" alt="">
                            <a class="btn-cn d-block pt-2 pb-2" href="{% url 'film_detail' pk=film.id %}">{{ film.name_uk }}</a>
                            <a href="{% url 'timetable' %}" class="btn text-white bg-film">{% trans 'Купити квитки' %}</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}