{% extends 'cinema/base.html' %}
{% load static %}


{%block content%}
<div class="select-table pt-3 pb-2">
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col">
                    <select class="form-select" id="cinema_select" aria-label="Default select example">
                        <option id="all_cinema" selected>Кінотеатр</option>
                        {% for cinema in cinema_list %}
                            <option id="cinema_{{ cinema.id }}" value="cinema{{ cinema.id }}">{{ cinema.name_uk }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <input type="text" name="dates" class="form-control">
                </div>
                <div class="col">
                    <select class="form-select" id="film_select" aria-label="Default select example">
                        <option id="all_film" selected>Фільм: Всі</option>
                        {% for film in film_list %}
                            <option value="film{{ film.id }}">{{ film.name_uk }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" id="hall_select" aria-label="Default select example">
                        <option id="all_hall" selected>Зал: Всі</option>
                        {% for hall in hall_list %}
                            <option value="hall{{ hall.pk }}">Зал {{ hall.hall_number }} в {{ hall.cinema.name_uk }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-1">

                </div>
            </div>
        </div>
        <div class="check-form">
            <div class="row mt-3 mb-3">
                <div class="col-2 text-end">
                    <p class="fw-bold">Дивитися тільки:</p>
                </div>
                <div class="col-1">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                2D
                            </label>
                        </div>
                </div>
                <div class="col-1">
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                3D
                            </label>
                        </div>
                </div>
                <div class="col-1">
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                IMAX
                            </label>
                        </div>
                </div>
            </div>
        </div>

        <div class="table-session">
            <div class="row">
            <div class="col text-center">
            <table class="table border border-3 border-warning">
                <thead>
                    <tr>
                        <th class="col">Дата</th>
                        <th class="col">Час</th>
                        <th class="col">Фільм</th>
                        <th class="col">Зал</th>
                        <th class="col">Ціна</th>
                        <th class="col">Бронювати</th>
                    </tr>
                </thead>
                <tbody>{% for ses in session %}
                    <tr>
                        <th>{{ ses.day|date:'d.m.Y' }}</th>
                        <th>{{ ses.time_start|date:"h:s" }}</th>
                        <th><a class="text-decoration-none text-body" href="../js/spider.html">{{ ses.film.name_uk }}</a></th>
                        <th>{{ ses.hall.hall_number }}</th>
                        <th>90 грн</th>
                        <th></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
                <div class="col-2">
                    <img class="img-fluid text-center" src="{% static 'dist/img/add.png' %}" alt="">
                </div>
            </div>
        </div>
    <script>
    $('input[name="dates"]').daterangepicker();


    
    </script>
{%endblock content%}