{% extends 'cinema/base.html' %}
{% load static %}
{% load i18n %}


{%block content%}
<div class="select-table pt-3 pb-2">
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col">
                    <select class="form-select" id="cinema_select" aria-label="Default select example">
                        <option id="all_cinema" selected>{% trans 'Кінотеатр' %}</option>
                        {% for cinema in cinema_list %}
                            <option id="cinema_{{ cinema.id }}" value="{{ cinema.id }}">{{ cinema.name_uk }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <input type="text" name="dates" class="form-control">
                </div>
                <div class="col">
                    <select class="form-select" id="film_select" aria-label="Default select example">
                        <option id="all_film" selected>{% trans 'ФІльм: Всі' %}</option>
                        {% for film in film_list %}
                            <option value="film{{ film.id }}">{{ film.name_uk }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" id="hall_select" aria-label="Default select example">
                        <option id="all_hall" selected>{% trans 'Зал: Всі' %}</option>
                        {% for hall in hall_list %}
                            <option value="hall{{ hall.pk }}">Зал {{ hall.hall_number }} в {{ hall.cinema.name_uk }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-1">

                </div>
            </div>
        </div>
        <div class="check-form">
            <div class="row mt-3 mb-3">
                <div class="col-2 text-end">
                    <p class="fw-bold">{% trans 'Дивитися тільки: ' %}</p>
                </div>
                <div class="col-1">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                2D
                            </label>
                        </div>
                </div>
                <div class="col-1">
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                3D
                            </label>
                        </div>
                </div>
                <div class="col-1">
                    <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                IMAX
                            </label>
                        </div>
                </div>
            </div>
        </div>

        <div class="table-session">
            <div class="row">
            <div class="col text-center">
            <table class="table border border-3 border-warning">
                <thead>
                    <tr>
                        <th class="col">{% trans 'Дата' %}</th>
                        <th class="col">{% trans 'Час' %}</th>
                        <th class="col">{% trans 'Фільм' %}</th>
                        <th class="col">{% trans 'Зал' %}</th>
                        <th class="col">{% trans 'Ціна' %}</th>
                        <th class="col">{% trans 'Бронювати' %}</th>
                    </tr>
                </thead>
                <tbody id="tbody">{% for ses in session %}
                    <tr>
                        <th>{{ ses.day|date:'Y-m-d' }}</th>
                        <th>{{ ses.time_start|date:"h:s" }}</th>
                        <th><a class="text-decoration-none text-body" href="{% url 'film_detail' pk=ses.film.pk %}">{{ ses.film.name_uk }}</a></th>
                        <th>{{ ses.hall.hall_number }}</th>
                        <th>90 грн</th>
                        <th><a href="{% url 'booking' pk=ses.id %}">
                                <svg width="30px" height="30px" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z"></path>
                                </svg>
                            </a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
                <div class="col-2">
                    <img class="img-fluid text-center" src="{% static 'dist/img/add.png' %}" alt="">
                </div>
            </div>
        </div>
    <script>
    $('input[name="dates"]').daterangepicker({locale: {'format':'YYYY-MM-DD'}});
    let startday = $('input[name="dates"]').val().substring(0, 10).replaceAll('/', '-');
    let endday = $('input[name="dates"]').val().substring(13, 23);

    $('input[name="dates"]').change(function (){
        console.log($('input[name="dates"]').val().substring(0, 10).replaceAll('/', '-'), )
        console.log($('input[name="dates"]').val().substring(13, 23).replaceAll('/', '-'), )
    })

    $('#hall_select').change(function (){
        console.log($('#hall_select').find('option:selected').val());
    });
    $('#cinema_select').change(function (){
        {#console.log($('#cinema_select').find('option:selected').val());#}

        {#let cinema = $("select[id='cinema_select']");#}
        {#console.log(cinema);#}
        {#let cinema_collection = cinema.find('option:selected');#}
        {#console.log(cinema_collection);#}
        {#let id_cinema = cinema_collection[0].value;#}
        {#console.log(id_cinema);#}

        $.get({
            url: "{% url 'cinema_filter' %}",
            data: {'id_cinema': $('#cinema_select').find('option:selected').val()},
            success: function (response){
                let cinema_selected = JSON.parse(response['cinema']);
                let halls_for_current_cinema = JSON.parse(response['halls']);
                let session_cinema_filter = JSON.parse(response['session']);
                let films = JSON.parse(response['films']);
                console.log(films)
                console.log()
                console.log(response['films'])
                console.log(session_cinema_filter)
                console.log(cinema_selected[0])
                console.log(cinema_selected[0]['fields']['name_uk'])
                console.log(halls_for_current_cinema)
                console.log(halls_for_current_cinema[0]['fields']['hall_number']);
                console.log(halls_for_current_cinema.length)
                let hall_select = document.getElementById('hall_select');
                hall_select.innerText = '';
                hall_select.innerHTML = '<option>Зал: Всі</option>'
                for(let i = 1; i<=halls_for_current_cinema.length; i++){
                    console.log('Hello')
                    hall_select.innerHTML += '<option>' + 'Зал ' + i + ' в ' + cinema_selected[0]['fields']['name_uk'] + '</option>'
                }
                let tbody = document.getElementById('tbody');
                tbody.innerText = '';
                for (let i = 0; i<session_cinema_filter.length; i++){
                    console.log(session_cinema_filter[i])
                    tbody.innerHTML += '<tr>'+'<th>'+ session_cinema_filter[i]['fields']['day'] + '<th>'+ session_cinema_filter[i]['fields']['time_start'].substring(0,5) + '<th>'+ response['films'][session_cinema_filter[i]['fields']['film']] + '<th>'+ session_cinema_filter[i]['fields']['hall'] + '<th>'+ '90 грн' +'</th>'+ '<th>' + '</th>' +'</tr>'
                }
            }
        })
    });
    $('#film_select').change(function (){
        console.log($('#film_select').find('option:selected').val());
    });
    </script>
{%endblock content%}