{% extends 'adminlte/base_admin.html' %}
{% load static %}

{% block tittle %} Банери {% endblock tittle %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    <div class="bord border border-dark mt-5 rounded">

         <div class=" h2_bg m-0 p-0 text-center ">
          <h2 class="m-0">Top Banner</h2>
           <hr class="m-0">
         </div>

        <p>Розмір: 1000х190</p>

        <div class="ml-2 d-flex">
            <label class="pt-2 mr-2 align-self-center" for="{{ speed.speed_carousel.id_for_label }}"> Speed Carousel</label>
                {{ speed.speed_carousel }}
            {% if speed.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ speed.errors }}
                </div>
                                {% endif %}
            <div class="mt-2 ml-2 form-check form-switch ">
                {{ speed.status}}
                <label>Active</label>
            </div>
        </div>


        {% if formset %}
            {{ formset.management_form }}
            <div class="">
                <div id="topbanner-form-list" class="overflow-auto d-flex">
                    {% for fset in formset %}
                        <div id="{{ fset.prefix }}" class="ml-3 mt-3">
                            <div class="d-none">
                                {{ fset }}
                            </div>
                            <div class="foo ml-3">
                            {% if fset.instance.image %}
                                <img width="300px" height="200px" id="img-__prefix__-Gallery" src="{{ fset.instance.image.url }}" alt="">
                             {% else %}
                                <img width="300px" height="200px" id="img-__prefix__-Gallery" src="{% static 'dist/img/uploadimage.png' %}" alt="">
                            {% endif %}
                                <a href="{% url 'delete-any' name='Banner' delete_item=fset.instance.id %}"><svg class="btn delete-image text-danger" width="60px" height="60px" fill="#f8eeed" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></a>
                                <label class="btn btn_add mr-4 ml-4 mt-2 mb-2" for="img-__prefix__-Banner">Додати</label>
                                {{ fset.url }}
                                {{ fset.text }}
                                {% if fset.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ fset.errors }}
                                </div>
                                {% endif %}
                            {% if fset.url.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ fset.url.errors }}
                                </div>
                                {% endif %}
                            {% if fset.text.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ fset.text.errors }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                <button id="add-more" onclick="add_topbanner_new_form()" type="button" class="btn"><svg width="100px" height="100px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></button>
               </div>
            <div id="empty-form-topbanner" class=" d-none ml-3 mt-3">
                 <div class="d-none">
                      {{ formset.empty_form }}
                 </div>
                 <div class="foo ml-3 mt-3">
                       <img width="300px" height="200px" id="img-__prefix__-Gallery" src="{% static 'dist/img/uploadimage.png' %}" alt="">
                        <svg onclick="delTopBannerForm('topbanner-__prefix__')" class="btn delete-image text-danger" width="60px" height="60px" fill="#f8eeed" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        <label class="btn btn_add mr-4 ml-4 mt-2 mb-2" for="img-__prefix__-Banner">Додати</label>
                          {{ formset.empty_form.url }}
                          {{ formset.empty_form.text }}
                 </div>
            </div>
            </div>
        {% endif %}
    </div>



    <div class="bord border border-dark mt-5 rounded">

         <div class=" h2_bg m-0 p-0 text-center ">
          <h2 class="m-0">Background</h2>
           <hr class="m-0">
         </div>

        <p>Розмір: 1000х190</p>
        <div class="d-flex">
        <div class="form-check">
            {{ type.type }}
        </div>
        <div>
        {{ type.image }}
            {% if type.instance.image %}
                <img width="300px" height="200px" id="img-__prefix__-Gallery" src="{{ type.instance.image.url }}" alt="">
                <label class="btn btn_add mr-4 ml-4 mt-2 mb-2" for="img-__prefix__-Banner">Додати</label>
            {% else %}
                <img width="300px" height="200px" id="img-BackBanner" src="{% static 'dist/img/uploadimage.png' %}" alt="">
                <label class="btn btn_add mr-4 ml-4 mt-2 mb-2" for="img_back_banner">Додати</label>
            {% endif %}
        </div>
        </div>
    </div>

    <div class="bord border border-dark mt-5 rounded">

         <div class=" h2_bg m-0 p-0 text-center ">
          <h2 class="m-0">Top Banner</h2>
           <hr class="m-0">
         </div>

        <p>Розмір: 1000х190</p>

        <div class="ml-2 d-flex">
            <label class="pt-2 mr-2 align-self-center" for="{{ speed2.speed_carousel.id_for_label }}"> Speed Carousel</label>
                {{ speed2.speed_carousel }}
            {% if speed2.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ speed2.errors }}
                </div>
                                {% endif %}
            <div class="mt-2 ml-2 form-check form-switch ">
                {{ speed2.status}}
                <label>Active</label>
            </div>
        </div>


        {% if formset_news %}
            {{ formset_news.management_form }}
            <div class="">
                <div id="newsbanner-form-list" class="overflow-auto d-flex">
                    {% for fset in formset_news %}
                        <div id="{{ fset.prefix }}" class="ml-3 mt-3 mb-3">
                            <div class="d-none">
                                {{ fset }}
                            </div>
                            <div class="foo ml-3">
                            {% if fset.instance.image %}
                                <img width="300px" height="200px" id="img-__prefix__-News" src="{{ fset.instance.image.url }}" alt="">
                             {% else %}
                                <img width="300px" height="200px" id="img-__prefix__-News" src="{% static 'dist/img/uploadimage.png' %}" alt="">
                            {% endif %}
                                <a href="{% url 'delete-any' name='NewsBanner' delete_item=fset.instance.id %}"><svg class="btn delete-image text-danger" width="60px" height="60px" fill="#f8eeed" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></a>
                                <label class="btn btn_add mr-4 ml-4 mt-2 mb-2" for="img-__prefix__-BannerNews">Додати</label>
                                {{ fset.url }}
                            {% if fset.url.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ fset.url.errors }}
                                </div>
                                {% endif %}
                                {% if fset.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ fset.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                <button id="add-more" onclick="add_newsbanner_new_form()" type="button" class="btn"><svg width="100px" height="100px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></button>
               </div>
            <div id="empty-form-newsbanner" class=" d-none ml-3 mt-3">
                 <div class="d-none">
                      {{ formset_news.empty_form }}
                 </div>
                 <div class="foo ml-3 mt-3">
                       <img width="300px" height="200px" id="img-__prefix__-News" src="{% static 'dist/img/uploadimage.png' %}" alt="">
                        <svg onclick="delForm('newsbanner-__prefix__')" class="btn delete-image text-danger" width="60px" height="60px" fill="#f8eeed" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        <label class="btn btn_add mr-4 ml-4 mt-2 mb-2" for="img-__prefix__-BannerNews">Додати</label>
                          {{ formset_news.empty_form.url }}
                 </div>
            </div>
            </div>
        {% endif %}
    </div>
<div class="justify-content-center text-center">
                <button class="mr-auto ml-auto mt-4 mb-2 btn btn_add" type="submit"> Зберегти зміни </button>
            </div>
</form>

{% endblock content %}